<<<<<<< HEAD
/*
Selectores de tipo
*/
div {
    background: pink;
}

/*
Selectores de clase
*/

.enlace {
    color: blueviolet
}

/*
Selectores de id
*/


/*
Selectores de atributo
*/

/*
Selectores combinadores descendientes
*/

/*
Selectores combinadores de hijo directo
*/


/*
Selectores combinadores de hijo directo
*/

/*
Selectores combinadores de elemento adyacente
*/

/*
Selectores combinadores general de hermanos
=======
/*
Selectores de tipo
*/
div {
    background: pink;
}

/*
Selectores de clase
*/

.enlace {
    color: blueviolet
}

/*
Selectores de id
*/


/*
Selectores de atributo
*/

/*
Selectores combinadores descendientes
*/

/*
Selectores combinadores de hijo directo
*/


/*
Selectores combinadores de hijo directo
*/

/*
Selectores combinadores de elemento adyacente
*/

/*
Selectores combinadores general de hermanos
>>>>>>> 33c0a820d5304349100f8a170e88f45b415da122
*/